
*{
    margin: 0;
    padding: 0;
}

.pswd{
    justify-content: center;
    margin-left: 42%;
    margin-top: 5rem;
}
.pswd h1{
    font-size: 50px;
    font-weight: 800;
    font-family: 'Courier New', Courier, monospace;
}
.password-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.options {
    margin-top: 10px;
    margin-bottom: 15px;
}
.submit-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.submit-button:hover {
    background-color: #45a049;
}
input[type="checkbox"] {
    margin-right: 5px;
}

label {
    margin-right: 10px;
}
